<div>
  <div>
    <h3>マイプレイリスト</h3>
  </div>

  <div>
    <h4 class="font-italic">過去ログ</h4>
    <ul style="list-style:none;">
     <% @archives.each do |yyyymm, count| %>
        <li><%= ymconv(yyyymm, count.to_s) %></li>
     <% end %>
    </ul>
  </div>
</div>