<div class="about-main">
  <div class="about">
    <h1>音楽を記録しよう</h1>
  </div>
  <div class="mt-5">
    <p class="text-center">
      テスト勉強していた時、学校の帰り道<br>
      上京する時の新幹線、仕事終わりの電車内<br>
      何気なく聞いていた一曲、一曲にあの頃の思い出が詰まっている<br>
      音楽を記録し、あの頃聞いていた曲を振り返ろう
    </p>
  </div>
</div>
