<div class="container">
  <div class="row justify-content-center about">
    <h1>音楽を記録しよう</h1>
  </div>
  <div class="row justify-content-center mt-5">
    <p class="text-right">
      テスト勉強していた時、学校の帰り道<br>
      上京する時の新幹線、疲れた仕事終わり<br>
      何気なく聞いていた一曲、一曲にあの頃の思い出が詰まっている<br>
      音楽を記録し、あの頃聞いていた曲を振り返ろう

    </p>
  </div>
</div>
